nodeconfig.json
[{"id":"63d01442.ccc72c","type":"inject","z":"3d9c03c9.3c2ffc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":420,"wires":[["ce475067.3716e"]]},{"id":"ce475067.3716e","type":"http request","z":"3d9c03c9.3c2ffc","name":"post to FRED","method":"GET","ret":"txt","url":"http://172.16.200.104:31446/flow/68f955b7.ba9d7c","tls":"","x":300,"y":620,"wires":[["741ed1b2.c273f","c222f4.b6a09d1","49c739cf.0535c8"]]},{"id":"741ed1b2.c273f","type":"debug","z":"3d9c03c9.3c2ffc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","x":520,"y":620,"wires":[]},{"id":"c222f4.b6a09d1","type":"debug","z":"3d9c03c9.3c2ffc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":360,"wires":[]},{"id":"e787f4c6.76e388","type":"http request","z":"3d9c03c9.3c2ffc","name":"","method":"PUT","ret":"obj","url":"http://172.16.200.104:31446/flow/3d9c03c9.3c2ffc","tls":"","x":970,"y":800,"wires":[[]]},{"id":"49c739cf.0535c8","type":"json","z":"3d9c03c9.3c2ffc","name":"","property":"payload","action":"","pretty":false,"x":430,"y":820,"wires":[["ac22609c.032bf","c222f4.b6a09d1"]]},{"id":"ac22609c.032bf","type":"change","z":"3d9c03c9.3c2ffc","name":"testest","rules":[{"t":"set","p":"payload.label","pt":"msg","to":"Flow 99","tot":"str"},{"t":"set","p":"payload.id","pt":"msg","to":"3d9c03c9.3c2ffc","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":840,"wires":[["c222f4.b6a09d1","e787f4c6.76e388"]]}]
