nodeconfig.json
[{"id":"fec216af.f1b028","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"ab82c0ca.c253d","type":"function","z":"fec216af.f1b028","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":220,"wires":[[]]},{"id":"faa7cd5f.d3bb9","type":"delay","z":"fec216af.f1b028","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":400,"wires":[[]]},{"id":"54af080b.bfab58","type":"comment","z":"fec216af.f1b028","name":"","info":"","x":340,"y":580,"wires":[]},{"id":"fa5e7ea8.b37b5","type":"inject","z":"fec216af.f1b028","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":360,"wires":[[]]},{"id":"eeb59680.9ab928","type":"tcp in","z":"fec216af.f1b028","name":"","server":"server","host":"","port":"","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":560,"y":880,"wires":[[]]},{"id":"44d252a1.2e8f2c","type":"udp in","z":"fec216af.f1b028","name":"","iface":"","port":"","ipv":"udp4","multicast":"false","group":"","datatype":"buffer","x":160,"y":720,"wires":[[]]}]
